{% extends "::base-impression.html.twig" %}
{% block body %}
    <h3>Emploi du temps classe de {{ classe.intitule }}</h3>
    <table class="table table-hover table-bordered table-striped">
        {% for h in range(0,nbHeures) %}
            <tr>
                {% for j in range(0,nbJours) %}
                    {% if (j == 0 and h == 0)%}
                        <th scope="row"> </th>
                    {% elseif (j > 0 and h == 0) %}
                        <th scope="row">
                            <div class="align-center">{{ jours[j-1] }}</div>
                        </th>
                    {% elseif (j == 0 and h > 0) %}
                        <th style="min-width: 50px" scope="row"> {{ heures[h-1] }}</th>
                    {% else %}
                        <td>
                            {% if matieres[j-1][h-1] != '' %}
                                <div class="align-center">
                                    {{ matieres[j-1][h-1].matiere.intitule }}
                                </div>
                            {% else %}
                                <div class="align-center">
                                    <a href="{{ path('ajouter_matiere_emplois_du_temps_lycee',{'classe_id':classe.id, 'jourIndex':j-1, 'heureIndex':h-1}) }}">
                                        <img title="Ajouter une matière" src="{{ asset('assets/add-item-icon.png') }}">
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endfor %}
    </table>
{% endblock %}