{% extends "::base-impression.html.twig" %}
{% block body %}
    <h3>Resultat d'examen de {{ lyceen.person.nom }} {{ lyceen.person.prenom }}</h3>
    <h5>Année scolaire {{ lyceen.anneeScolaire }}</h5>
    <p>Classe de {{ lyceen.sonClasse.intitule }} n° {{ lyceen.numeros }}</p>
    <div class="floatright">
       {{ date | date('d - m - Y') }} &nbsp; &nbsp;
    </div>
    <div class="row">
        <div class="span12">
            <table class="table  table-hover table-bordered table-striped">
                <thead>
                <th>Matiere</th>
                <th>coeficient</th>
                <th>1ère trimestre</th>
                <th>2 ième trimestre</th>
                <th>3 ième trimestre</th>
                </thead>
                <tbody>
                {% for note in notes %}
                    <tr>
                        <td>{{ note.matiere.intitule }}</td>
                        <td class="align-center">{{ note.coefficient }}</td>
                        <td class="align-center">{{ note.noteTrimestre1 * note.coefficient}}</td>
                        <td class="align-center">{{ note.noteTrimestre2 * note.coefficient}}</td>
                        <td class="align-center">{{ note.noteTrimestre3 * note.coefficient}}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="6" class="align-center">Aucun note enregisté</td></tr>
                {% endfor %}
                <tr>
                    <th >TOTAL</th>
                    <th class="align-center">{{ totalCoef }}</th>
                    <th class="align-center">{{ totalTrimestre1 }}</th>
                    <th class="align-center">{{ totalTrimestre2 }}</th>
                    <th class="align-center">{{ totalTrimestre3 }}</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="2">MOYENNE (/20)</th>
                    <th class="align-center">{{ moyenne1 | number_format(2) }}</th>
                    <th class="align-center">{{ moyenne2 | number_format(2)}}</th>
                    <th class="align-center">{{ moyenne3 | number_format(2)}}</th>
                    <th></th>
                </tr>
                <tr>
                    <th colspan="2">MOYENNE GENERALE (/20)</th>
                    <th colspan="3" class="align-center">{{ moyenneGeneral |number_format(2) }}</th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div>
        <div class="floatleft"> &nbsp; &nbsp; Directeur Pédagogique</div>
        <div class="floatright">Président Directeur Général &nbsp; &nbsp; </div>
    </div>
{% endblock %}