{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Formulaire de recrutement</h3>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row">
        <form method="post">
            <div class="span6">
                <fieldset>
                    <legend>Etat civil</legend>
                    {{ form_widget(form_person) }}
                </fieldset>
            </div>
            <div class="span6">
                <fieldset>
                    <legend>Information</legend>
                    {{ form_widget(form_status) }}
                </fieldset>
            </div>
            <div class="clearfix"></div>
            <div class="submit-style">
                <div class="floatleft">
                    <a href="{{ path('personnel_home') }}">
                        <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                    </a>

                </div>
                <div class="floatright">
                    <input type="image" src="{{ asset('assets/next.png') }}" title="Suivant">
                </div>
            </div>
        </form>
    </div>
{% endblock %}