{% extends "MascaTresorBundle::traisor-lycee.html.twig" %}
{% block caisse_lycee_body %}
    <h3>Formulaire de transaction lycee</h3>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row">
        <form method="post">
            <div class="span12">
                {{ form_widget(form) }}
            </div>
            <div class="clearfix"></div>
            <div class="submit-style">
                <div class="floatleft">
                    <a href="{{ path('home_caisse_lycee') }}">
                        <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                    </a>

                </div>
                <div class="floatright">
                    <input type="image" src="{{ asset('assets/save.png') }}" title="Enregistrement">
                </div>
            </div>
        </form>
    </div>
{% endblock %}