{% extends "MascaEtudiantBundle::admin-lycee.html.twig" %}
{% block admin_lycee_body %}
    <h4>Les grilles de frais de scolarité du lycée</h4>
    <a href="{{ path('ajouter_grille_ecolage_lycee') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">grille</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for grille in grilles %}
            <tr>
                <td>{{ grille.classe.intitule }}</td>
                <td>{{ grille.montant }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_grille_ecolage_lycee',{'grille_id': grille.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                        <a href="{{ path('supprimer_grille_ecolage_lycee', {'id': grille.id}) }}" onclick="return confirm('Voulez vous supprimer la grille d\'écolage de la classe {{ grille.classe.intitule }}?')">
                            <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun étudiant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if grilles|length > 0 %}
        <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('grille_ecolage_lycee', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}