{% extends "MascaEtudiantBundle::admin-lycee.html.twig" %}
{% block admin_lycee_body %}
    <h3>Liste des classes</h3>
    <a href="{{ path('ajouter_classe_lycee') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Classe</th>
            <th>Niveau d'étude</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.intitule }}</td>
                <td>{{ classe.niveauEtude.intitule }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_classe_lycee',{'classe_id':classe.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                        <a href="{{ path('emploi_du_temps_lycee',{'id':classe.id}) }}">
                            <img title="Emploi du temps" src="{{ asset('assets/view-calendar.png') }}">
                        </a>
                        <a href="{{ path('supprimer_classe_lycee',{'id': classe.id}) }}" onclick="return confirm('Voulez vous supprimer la classe {{ classe.intitule }}? Si oui tous les informations liées à cette classe seront supprimées!')">
                            <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                        </a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun étudiant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if classes|length > 0 %}
        <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('admin_lycee_classe', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock%}