<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{absolute_url(asset('css/bootstrap.css')) }}"/>
    <link rel="stylesheet" href="{{absolute_url(asset('css/style.css')) }}"/>
    <script type="text/javascript" src="{{ absolute_url(asset('js/jquery-1.11.3.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('js/bootstrap.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('js/js.js')) }}"></script>
</head>
<body>
<div class="entete-wrapper">
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="{{ absolute_url(asset('assets/logo.png')) }}" class="logo-home">
            </div>
            <div class="span4 align-center slogan">
                Système d'information du GROUPE MASCA
            </div>
            <div class="span4 slogan align-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ app.user }}
                    <a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="menu-wrapper">
    <div class="container">
        <ul class="main-menu floatright">
            <a href="{{ path('oc_user_homepage') }}">
                <li id="home_menu">
                    <div class=" span1">
                        <img src="{{ absolute_url(asset('assets/home.png')) }}">
                    </div>
                    <div class="col-md-12">
                        Accueil
                    </div>
                </li>
            </a>
            <a href="{{ path('tresor_home') }}">
                <li id="tresor_menu">
                    <div class="span1">
                        <img src="{{ absolute_url(asset('assets/tresorerie.png')) }}">
                    </div>
                    <div class=" col-md-12">Tresorérie</div>
                </li>
            </a>
            <a href="{{ path('personnel_home') }}">
                <li id="personnel_menu">
                    <div class=" span1">
                        <img src="{{ absolute_url(asset('assets/personnel.png')) }}">
                    </div>
                    <div class=" col-md-12">Personnels</div>
                </li>
            </a>
            <a href="{{ path('etudiant_home') }}">
                <li id="etudiant_menu">
                    <div class=" span1">
                        <img src="{{ absolute_url(asset('assets/etudiant.png')) }}">
                    </div>
                    <div class=" col-md-12">Etudiants</div>
                </li>
            </a>
            <a href="{{ path('user_lists') }}">
                <li id="utilisateur_menu">
                    <div class=" span1">
                        <img src="{{ absolute_url(asset('assets/user-admin.png')) }}">
                    </div>
                    <div class=" col-md-12">Utilisateur</div>
                </li>
            </a>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="content-wrapper">
    <div class="container zone-bordered">
        <div class="milieupage">
            {% block body %}{% endblock %}
        </div><!-- FIN row milieupage//-->
    </div><!-- FIN container zone-bordered//-->
</div><!-- FIN content-wrapper//-->
<div class="clearfix"></div>
<div class="floatleft">
    <img src="{{ absolute_url(asset('assets/logo-universite.png')) }}" class="logo-home">
</div>
<div class="floatright">
    <img src="{{ absolute_url(asset('assets/logo-lycee.png')) }}" class="logo-home">
</div>
<div class="footer-wrapper">
    <div class="container">
        <div class="row basdepage">&copy;Masca Groupe Tous droits resérvé 2016 </div>
    </div>
</div>

{% block javascripts %}
{% endblock %}

</body>
</html>
