{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h3>Page de reinitialisation mot de passe</h3>
{% if error_message is defined %}
    <p style="color: red "> {{ error_message }}</p>
{% endif %}
    <div class="row">
        <div class="span12">
            <form method="post">
                {{ form_widget(form) }}
                <div class="submit-style">
                    <div class="floatleft">
                        <a href="{{ path('user_lists') }}">
                            <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                        </a>

                    </div>
                    <div class="floatright">
                        <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock fos_user_content %}
