{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h5>Création/modification matierer emploi du temps universite</h5>
    {{ jour }} à {{ heure }}
    <form method="post">
        {{ form_widget(form) }}
        <div class="submit-style">
            <div class="floatleft">
                <a href="{{ path('voir_emploi_du_temps_universite',{'filiereParNiveau_id':filiere.id}) }}">
                    <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                </a>

            </div>
            <div class="floatright">
                <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
            </div>
        </div>
    </form>
{% endblock %}