{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h5>Création/modification semestre</h5>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <form method="post">
        {{ form_widget(form) }}
        <div class="submit-style">
            <div class="floatleft">
                <a href="{{ path('semestre_univ') }}">
                    <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                </a>

            </div>
            <div class="floatright">
                <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
            </div>
        </div>
    </form>
{% endblock%}