{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Les grilles de frais de scolarité de l'université</h4>
    <a href="{{ path('ajouter_grille_ecolage_universite') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Filière</th>
            <th>Niveau d'étude</th>
            <th>Montant</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for grille in grilles %}
            <tr>
                <td>{{ grille.filiere.intitule }}</td>
                <td>{{ grille.niveauEtude.intitule }}</td>
                <td>{{ grille.montant }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_grille_ecolage_universite',{'grille_id':grille.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun grille enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}