{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Les filiere</h4>
    <a href="{{ path('ajouter_filiere_univ') }}" class="btn">Nouvelle filière</a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Filière</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for filiere in filieres %}
            <tr>
                <td>{{ filiere.intitule }}</td>
                <td>
                    <a href="{{ path('modifier_filiere_univ',{'filiere_id':filiere.id}) }}" class="btn btn-primary">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun filiere enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if filieres|length > 0 %}
        <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('admin_univ_filiere', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}