{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Emploi du temps</h4>
    <a href="{{ path('creer_emploi_du_temps_universite') }}" class="btn">Nouvelle emploi du temps</a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Filière</th>
            <th >niveau</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for filiere in filiereParNiveaux %}
            <tr>
                <td>{{ filiere.filiere.intitule }}</td>
                <td>{{ filiere.niveau.intitule }}</td>
                <td>
                    <a href="{{ path('voir_emploi_du_temps_universite',{'filiereParNiveau_id':filiere.id}) }}" class="btn btn-primary">voir</a>
                    <a href="{{ path('supprimer_emplois_du_temps_universite',{'id':filiere.id}) }}" class="btn btn-danger" onclick="return confirm('Voulez vous supprimer?')">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun emploi du temps enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}