{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Liste des matieres</h4>
    <a href="{{ path('ajouter_matiere_universite') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Matière</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.intitule }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_matiere_universite', {'matiere_id': matiere.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                        <a href="{{ path('supprimer_matiere_universite', {'id': matiere.id}) }}" onclick="return confirm('Voulez vous supprimer la matière {{ matiere.intitule }}? Si oui, toutes les informations liées à cette matières seront supprimées!')">
                            <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun matiere enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if matieres|length > 0 %}
        <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('list_matieres_universite', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}