{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Les niveau d'étude</h4>
    <a href="{{ path('ajouter_niveau_etude_univ') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Niveau d'étude</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for niveauEtude in niveauEtudes %}
            <tr>
                <td>{{ niveauEtude.intitule }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_niveau_etude_univ',{'niveau_id':niveauEtude.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                        <a href="{{ path('supprimer_niveau_univ', {'id': niveauEtude.id}) }}" onclick="return confirm('Voulez vous supprimer le niveau {{ niveauEtude.intitule }}? Si oui, toutes les informations liées à ce niveau seront supprimées!')">
                            <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun niveauEtude enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}