{% extends "MascaEtudiantBundle::admin-universite.html.twig" %}
{% block admin_univ_body %}
    <h4>Listes des semestres</h4>
    <a href="{{ path('ajouter_semestre_univ') }}">
        <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
    </a>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Semestre</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for semestre in semestres %}
            <tr>
                <td>{{ semestre.intitule }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('modifier_semestre_univ',{'semestre_id':semestre.id}) }}">
                            <img title="Modification" src="{{ asset('assets/edit.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun semestre enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}