{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Liste des  employés </h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('recrutement') }}">
            <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
        </a>
    </div>
    <div class="row link-text floatright">
        <img src="{{ asset('assets/loading.gif') }}" class="loading">
        <input id="search-emp" placeholder="Nom/Prénom/Matricule">
    </div>
    <div id="employer-list">
        {{ render(controller('MascaPersonnelBundle:Default:listEmploye', {'page': page, 'keyword': ''})) }}
    </div>
    <script>
        $(function () {
            $(".loading").hide();
            $("#search-emp").keyup(function () {
                $(".loading").show();
                var url = "{{ path('list_emp') }}" + "/"+{{ page }};
                if(this.value != "")
                    url = url + "/" + this.value;
                $("#employer-list").load(url, function () {
                    $(".loading").hide();
                });
            })
        })
    </script>
{% endblock %}
