{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Liste des  employés </h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('recrutement') }}">
            <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
        </a>
    </div>
    <div class="row link-text floatright">
        <input id="search_emp" placeholder="Nom/Prénom/Matricule" onkeyup="find()">
    </div>
    <div id="employer-list">
        {{ render(controller('MascaPersonnelBundle:Default:listEmploye', {'page': page, 'keyword': ''})) }}
    </div>
    <script>
        function find() {
            keyword = document.getElementById("search_emp").value;
            url = "{{ path('list_emp') }}" + "/"+{{ page }};

            if(keyword != "")
                url = url + "/" + keyword;
            $("#employer-list").load(url, function () {});

        }
    </script>
{% endblock %}
