{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <div class="floatleft">
        <a href="{{ path('fos_user_registration_register') }}">
            <img title="Creer utilisateur" src="{{ asset('assets/add-user.png') }}">
        </a>
    </div>
    <div class="floatright">
        <a href="{{ path('backup_db') }}" onclick="return confirm('Voulez creer une sauvegarde de votre base de données!') ">
            <img title="Creer une sauvegarde" src="{{ asset('assets/backup.png') }}">
        </a>
    </div>
    <br/>
    <br/>
    <table id="tableshow" class="table table-hover table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Nom d'utilisateur</th>
            <th>email</th>
            <th>Rôle</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles if role != 'ROLE_USER'%}
                        {% for key, value in roleLabels if value == role%}
                            {{ key }}
                        {% endfor %}
                    {% else %}
                        aucun role
                    {% endfor %}
                </td>
                <td>
                    <span class="btn btn-info float_menu">
                        Action
                    <ul class="nav nav-pills">
                        {% if user.roles|length == 1 %}
                            <li>
                                <a href="{{ path('ajouter_role',{'id': user.id}) }}">
                                    <img title="Ajouter rôle" src="{{ asset('assets/add-item.png') }}">
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('modifier_mot_de_passe', {'id': user.id}) }}">
                                <img title="Modifier mot de passe" src="{{ asset('assets/edit-password.png') }}">
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('supprimer_user',{'id': user.id}) }}" onclick="return confirm('Voulez vous supprimer?')">
                                <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                            </a>
                        </li>
                    </ul>

                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun étudiant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}