{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <a href="{{ path('fos_user_registration_register') }}" class="btn">Creer utilisateur</a>
    <br/>
    <br/>
    <table id="tableshow" class="table table-hover table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Nom d'utilisateur</th>
            <th>email</th>
            <th>Rôle</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles if role != 'ROLE_USER'%}
                        {% for key, value in roleLabels if value == role%}
                            {{ key }}
                        {% endfor %}
                    {% else %}
                        aucun role
                    {% endfor %}
                </td>
                <td>
                    <span class="btn btn-info float_menu">
                        Action
                    <ul class="nav nav-pills">
                        <li><a href="{{ path('modifier_mot_de_passe', {'id': user.id}) }}" class="btn-primary">modifer mot de passe</a></li>
                        {% if user.roles|length == 1 %}
                            <li><a href="{{ path('ajouter_role',{'id': user.id}) }}" class="btn-primary">ajouter role</a></li>
                        {% endif %}
                        <li><a href="{{ path('supprimer_user',{'id': user.id}) }}" class="btn-danger" onclick="return confirm('Voulez vous supprimer?')">suppr</a></li>
                    </ul>

                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun étudiant enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}