{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h4>Listes des absences de {{ universitaire.person.nom }} {{ universitaire.person.prenom }}</h4>
    <div>
        <a href="{{ path('details_universite',{'id': universitaire.id}) }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}">
        </a>
        <a href="{{ path('enregistrement_absence_universitaire', {'id': universitaire.id}) }}">
            <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
        </a>
    </div>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th>Absent le</th>
            <th>Partie de la journée</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in listAbs %}
            <tr>
                <td>{{ absence.dateAbsent | date('d/m/Y') }}</td>
                <td>{{ absence.partieJournee }}</td>
                <td>
                    <a href="{{ path('modifier_absence_universitaire', {'id':absence.id}) }}" class="btn btn-primary">modifier</a>
                    <a href="{{ path('supprimer_absence_universitaire', {'id':absence.id}) }}" class="btn btn-danger" onclick="return confirm('Vous vous supprimer?')">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun absence enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock%}