{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Informations détaillées sur le filière suivi par l'étudiant</h3>
    <div class="row">
        <div class="span6">
            <fieldset>
                <table class="table  table-hover table-bordered table-striped">
                    <tr>
                        <td><b>N° matricule:</b></td>
                        <td>{{ sonFiliere.universitaire.person.numMatricule }}</td>
                    </tr>
                    <tr>
                        <td><b>Nom:</b></td>
                        <td>{{ sonFiliere.universitaire.person.nom }}</td>
                    </tr>
                    <tr>
                        <td><b>Prénom:</b></td>
                        <td>{{ sonFiliere.universitaire.person.prenom }}</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <table class="table  table-hover table-bordered table-striped">
                    <tr>
                        <td><b>Intitulé du Filiere:</b></td>
                        <td>{{ sonFiliere.sonFiliere.intitule }}</td>
                    </tr>
                    <tr>
                        <td><b>Niveau d'étude:</b></td>
                        <td>{{ sonFiliere.sonNiveauEtude.intitule }}</td>
                    </tr>
                    <tr>
                        <td><b>Semestre:</b></td>
                        <td>{{ sonFiliere.semestre.intitule }}</td>
                    </tr>
                    <tr>
                        <td><b>Année d'étude:</b></td>
                        <td>{{ sonFiliere.anneeEtude }}</td>
                    </tr>
                    <tr>
                        <td><b>Date de prochain inscription:</b></td>
                        <td>{{ sonFiliere.dateReinscription | date('d M Y') }}</td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="align-center">
            <a href="{{ path('details_universite',{'id':sonFiliere.universitaire.id})}}">
                <img title="Retour" src="{{ asset('assets/cancel.png') }}" class="custom-margin">
            </a>
            <a href="{{ path('reinscription_universite', {'id': sonFiliere.id}) }}">
                <img title="Reinscription" src="{{ asset('assets/reinscription.png') }}" class="custom-margin">
            </a>
            <a href="{{ path('note_univeritaire', {'id': sonFiliere.id}) }}">
                <img title="Note d'examen" src="{{ asset('assets/note.png') }}" class="custom-margin">
            </a>
            <a href="{{ path('ecolage_universitaire', {'id':sonFiliere.id}) }}">
                <img title="Ecolage" src="{{ asset('assets/ecolage.png') }}" class="custom-margin">
            </a>

        </div>
    </div>
{% endblock %}