{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Informations détaillées de l'étudiant </h3>
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>Etat civil</legend>
                <table class="table  table-hover table-bordered table-striped">
                    <tr>
                        <td><b>N° matricule:</b></td>
                        <td>{{ universitaire.person.numMatricule }}</td>
                    </tr>
                    <tr>
                        <td><b>Nom:</b></td>
                        <td>{{ universitaire.person.nom }}</td>
                    </tr>
                    <tr>
                        <td><b>Prénom:</b></td>
                        <td>{{ universitaire.person.prenom }}</td>
                    </tr>
                    <tr>
                        <td><b>Date de naissance:</b></td>
                        <td>{{ universitaire.person.dateNaissance |date('d M Y') }}</td>
                    </tr>
                    <tr>
                        <td><b>Lieu de naissance:</b></td>
                        <td>{{ universitaire.person.lieuNaissance }}</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>Complémentaire</legend>
                <table class="table  table-hover table-bordered table-striped">
                    <tr>
                        <td><b>Adresse:</b></td>
                        <td>{{ universitaire.infoEtudiant.adresse }}</td>
                    </tr>
                    <tr>
                        <td><b>Téléphone:</b></td>
                        <td>{{ universitaire.infoEtudiant.tel }}</td>
                    </tr>
                    <tr>
                        <td><b>E-mail:</b></td>
                        <td>{{ universitaire.infoEtudiant.email }}</td>
                    </tr>
                    <tr>
                        <td><b>Nom de sa mère:</b></td>
                        <td>{{ universitaire.infoEtudiant.nomMere }}</td>
                    </tr>
                    <tr>
                        <td><b>Nom de son père:</b></td>
                        <td>{{ universitaire.infoEtudiant.nomPere }}</td>
                    </tr>
                    <tr>
                        <td><b>Contact de ses parents:</b></td>
                        <td>{{ universitaire.infoEtudiant.telParent }}</td>
                    </tr>
                    <tr>
                        <td><b>E-mail de ses parents:</b></td>
                        <td>{{ universitaire.infoEtudiant.emailParent }}</td>
                    </tr>
                    <tr>
                        <td><b>Nom du tuteur:</b></td>
                        <td>{{ universitaire.infoEtudiant.nomTuteur }}</td>
                    </tr>
                    <tr>
                        <td><b>Reduction ecolage:</b></td>
                        <td>{{ universitaire.infoEtudiant.reduction }} Ar</td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="span12">
            <fieldset>
                <legend> Les filères suivis
                    par {{ universitaire.person.prenom }} {{ universitaire.person.nom }}</legend>
                <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
                    <thead>
                    <tr>
                        <th class="selection" data-tri="1" data-type="num">Filière</th>
                        <th>Niveau d'étude</th>
                        <th>Semestre</th>
                        <th>Année d'étude</th>
                        <th>Réinscription</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for filiere in sesFilieres %}
                        <tr>
                            <td>{{ filiere.sonFiliere.intitule }}</td>
                            <td>{{ filiere.sonNiveauEtude.intitule }}</td>
                            <td>{{ filiere.semestre.intitule }}</td>
                            <td>{{ filiere.anneeEtude }}</td>
                            <td>{{ filiere.dateReinscription | date('d M Y') }}</td>
                            <td>
                                <div class="align-center">
                                    <a href="{{ path('details_etude_universitaire', {'sonFiliere_id':filiere.id}) }}">
                                        <img title="Details" src="{{ asset('assets/details.png') }}">
                                    </a>
                                    <a href="{{ path('supprimer_detail_filiere_univ', {'id': filiere.id}) }}"
                                       onclick="return confirm('Voulez vous supprimer les details sur {{ filiere.sonFiliere.intitule }}? Si oui, tous les informations concernant ce filière seront supprimer!')">
                                        <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Aucun filière enregistré</td>
                        </tr>
                    {% endfor %}
                </table>
            </fieldset>
        </div>
    </div>
    <div class="align-center">
        <a href="{{ path('accueil_universite') }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}" class="custom-margin">
        </a>
        <a href="{{ path('modifier_universite', {'id': universitaire.id}) }}">
            <img title="Modification" src="{{ asset('assets/edit.png') }}" class="custom-margin">
        </a>
        <a href="{{ path('ajouter_filiere_etudiant_univ', {'id': universitaire.id}) }}">
            <img title="Ajouter filière" src="{{ asset('assets/add-item.png') }}" class="custom-margin">
        </a>
        <a href="{{ path('absence_universitaire', {'id': universitaire.id}) }}">
            <img title="Absence" src="{{ asset('assets/presence.png') }}" class="custom-margin">
        </a>
        <a href="{{ path('retard_universitaire', {'id': universitaire.id}) }}">
            <img title="Retard" src="{{ asset('assets/retard.png') }}" class="custom-margin">
        </a>

    </div>
{% endblock %}