{% extends 'MascaEtudiantBundle::layout.html.twig' %}
{% block etudiant_body %}
    <h3>Page d'ajout/modification d'un note</h3>
    Etudiant concerné: <b>{{ sonFiliere.universitaire.person.prenom }} {{ sonFiliere.universitaire.person.nom }}</b>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}

    <form method="post">
        {{ form_widget(form) }}
        <div class="align-right">
            <input type="submit" value="Enregistrer" class="btn">
            <a href="{{ path('note_univeritaire',{'id':sonFiliere.id}) }}" class="btn">Annuler</a>
        </div>
    </form>
{% endblock %}