{% extends 'MascaEtudiantBundle::layout.html.twig' %}
{% block etudiant_body %}
    <h3>Page d'enregistrement/modification d'absence</h3>
    <p>Etudiant concerné: <b>{{ universitaire.person.prenom }} {{ universitaire.person.nom }}</b></p>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row span12">
        <form method="post">
            {{ form_widget(form) }}
            <div class="submit-style">
                <div class="floatleft">
                    <a href="{{ path('absence_universitaire',{'id':universitaire.id}) }}">
                        <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                    </a>

                </div>
                <div class="floatright">
                    <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                </div>
            </div>
        </form>
    </div>

{% endblock %}