{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Page d'enregistrement d'ecolage</h3>
    <p>Etudiant concerné: <b>{{ sonFiliere.universitaire.person.nom }} {{ sonFiliere.universitaire.person.prenom }}</b></p>
    <p>Annee d'etude: <b>{{ sonFiliere.anneeEtude }}</b></p>
    <p>Le montant d'un mois est {{ montant }} Ar</p>
    <p>Reduction {{ reduction }} Ar</p>
    {% if reste is defined %}
        Reste: {{ reste }}
    {% endif %}
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row">
        <div class="span12 text-center">
            <form method="post" class="text-left" style="width:270px; margin:0 auto !important;" id="formpaiement">
                {{ form_widget(form) }}
                <div class="align-center">
                    <input type="submit" value="Enregistrer" class="btn btn-primary">
                    <a href="{{ path('ecolage_universitaire', {'id':sonFiliere.id}) }}" class="btn btn-primary">Annuler</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}