{% extends 'MascaEtudiantBundle::layout.html.twig' %}
{% block title %}Enregistrement note{% endblock %}
{% block etudiant_body %}
    <h5>Création/modification note de {{ matiere.matiere.intitule }}</h5>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <h2>Enregistrement note de de {{ sonFiliere.universitaire.person.prenom }} {{ sonFiliere.universitaire.person.nom }}</h2>
    <form method="post">
        {{ form_widget(form) }}
        <div class="align-right">
            <input type="submit" value="Enregistrer" class="btn">
            <a href="{{ path('note_univeritaire',{'id':sonFiliere.id}) }}" class="btn">Annuler</a>
        </div>
    </form>
{% endblock %}