{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Listes des étudiants de l'université</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('inscription_universite') }}"  class="btn btn-info btn-lg">
            Inscription
        </a>
        <a href="{{ path('admin_univ_filiere') }}"  class="btn btn-info btn-lg">
            Administration
        </a>
        <a href="{{ path('print_liste_universite', {'page':page}) }}" target="_blank">
            <img title="Imprimer" src="{{ absolute_url(asset('assets/printer.png')) }}">
        </a>
    </div>
    <div class="row link-text floatright">
        <form method="post">
            <input id="search" placeholder="Entrez un nom ou prénom" name="key_word">
            <input type="image" src="{{ absolute_url(asset('assets/find.png')) }}">
        </form>
    </div>
    <div class="clearfix"></div>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
            <tr>
                <th class="selection" data-tri="1" data-type="num">Nom</th>
                <th>Prénom</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for universite in universitaires %}
            <tr>
                <td>{{ universite.person.nom }}</td>
                <td>{{ universite.person.prenom }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('details_universite', {'id':universite.id}) }}">
                            <img title="Plus de details" src="{{ absolute_url(asset('assets/plus-info.png')) }}">
                        </a>
                        <a href="{{ path('supprimer_etudiant_univ', {'id':universite.id}) }}" onclick="return confirm('Voulez vous supprimer les informations sur {{ universite.person.nom }} {{ universite.person.prenom }}? Si oui, tous les informations concernants cette personne seront supprimer!')">
                            <img title="Supprimer" src="{{ absolute_url(asset('assets/delete.png')) }}">
                        </a>
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Aucun étudiant enregistré</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if universitaires|length > 0 %}
    <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('accueil_universite', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
