{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Listes des étudiants de l'université</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('inscription_universite') }}"  class="btn btn-info btn-lg">
            Inscription
        </a>
        <a href="{{ path('admin_univ_filiere') }}"  class="btn btn-info btn-lg">
            Administration
        </a>
        <a href="{{ path('export_univ') }}" target="_blank">
            <img title="Imprimer" src="{{ absolute_url(asset('assets/printer.png')) }}">
        </a>
    </div>
    <div class="row link-text floatright">
        <input id="search-univ" placeholder="Nom/Prénom/Matricule" onkeyup="find()">
    </div>
    <div class="clearfix"></div>
    <div id="univ-list">
        {{ render(controller('MascaEtudiantBundle:Universite/Universite:listUniv', {'page': page, 'keyword': ''})) }}
    </div>
    <script>
        function find() {
            keyword = document.getElementById("search-univ").value;
            url = "{{ path('list_univ') }}" + "/"+{{ page }};

            if(keyword != "")
                url = url + "/" + keyword;
            $("#univ-list").load(url, function () {});

        }
    </script>
{% endblock %}
