{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block title %}Universite{% endblock %}
{% block etudiant_body %}
    Bienvenu page Universite </br>
    <div class="row link-text  floatleft">
        <a href="{{ path('inscription_universite') }}"  class="btn btn-info btn-lg">
            Inscription
        </a>
        <a href="{{ path('admin_univ_accueil') }}"  class="btn btn-info btn-lg">
            Administration
        </a>
    </div>
    <div class="clearfix"></div>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
            <tr>
                <th class="selection" data-tri="1" data-type="num">Nom</th>
                <th>Prénom</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for universite in universitaires %}
            <tr>
                <td>{{ universite.person.nom }}</td>
                <td>{{ universite.person.prenom }}</td>
                <td>
                    <a href="{{ path('details_universite', {'id':universite.id}) }}" class="btn btn-info btn-lg">
                        details
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucun étudiant enregistré</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if universitaires|length > 0 %}
    <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('accueil_universite', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
