{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block title %} Note université {% endblock %}
{% block etudiant_body %}
    <h4>Les note de {{ sonFiliere.universitaire.person.nom }} {{ sonFiliere.universitaire.person.prenom }}</h4>
    <p>Semestre: {{ sonFiliere.semestre.intitule }}</p>
    <div>
        <a href="{{ path('details_etude_universitaire',{'sonFiliere_id': sonFiliere.id}) }}" class="btn btn-primary"><<</a>
    </div>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>UE</th>
            <th>Module(EC)</th>
            <th>EF(60%) /20</th>
            <th>FC(30%) /20</th>
            <th>NJ(10%) /20</th>
            <th>Moy</th>
            <th>Coef</th>
            <th>Notes</th>
            <th>Res</th>
        </tr>
        </thead>
        <tbody>
        {% for ue in listUe %}
            {% for matiere in listMatieres[ue.id] %}
                <tr>
                    {% if loop.first %}
                        <td rowspan="{{ listMatieres[ue.id]|length }}">
                            {{ ue.ue.intitule }} <br>
                            {% if notes[matiere.id] %}

                            {% else %}
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <span class="float_menu">
                            {{ matiere.matiere.intitule }}
                            <ul class="nav nav-pills">
                                <a href="{{ path('formulaire_note_univeritaire',{'matiere_id': matiere.id,'son_filiere_id': sonFiliere.id}) }}" class="btn btn-primary">modifier</a>
                            </ul>
                        </span>
                    </td>
                    {% if notes[matiere.id] %}
                            <td>{{ notes[matiere.id].noteEf }}</td>
                            <td>{{ notes[matiere.id].noteFc }}</td>
                            <td>{{ notes[matiere.id].noteNj }}</td>
                            <td>{{ notes[matiere.id].moyenne }}</td>
                            <td>{{ notes[matiere.id].coefficient }}</td>
                            <td>{{ notes[matiere.id].coefficient *  notes[matiere.id].moyenne}}</td>
                            <td>
                                {% if  notes[matiere.id].coefficient *  notes[matiere.id].moyenne >= 10 * notes[matiere.id].coefficient%}
                                    Obt
                                {% else %}
                                    Rep
                                {% endif %}
                            </td>
                    {%  else %}
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="11">Aucun absence enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock%}