{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block title %}Reinscription universitaire{% endblock %}
{% block etudiant_body %}
    <h3> Page de reinscription de {{ fullEtudantName }} </h3>
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend>Étude</legend>
                <form method="post">
                    {{ form_widget(sonFiliereForm) }}
                    <div class="submit-style">
                        <div class="floatleft">
                            <a href="{{ path('details_etude_universitaire', {'sonFiliere_id':sonFiliereId}) }}">
                                <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                            </a>

                        </div>
                        <div class="floatright">
                            <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
{% endblock %}