{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Listes de retards de {{ universitaire.person.nom }} {{ universitaire.person.prenom }}</h3>
    <div>
        <a href="{{ path('details_universite',{'id': universitaire.id}) }}" >
            <img title="Retour" src="{{ asset('assets/cancel.png') }}">
        </a>
        <a href="{{ path('enregistrement_retard_universitaire',{'id': universitaire.id}) }}">
            <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
        </a>
    </div>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th>Retard le</th>
            <th>Arriver en cours à</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for retard in listRetard %}
            <tr>
                <td>{{ retard.dateRetard | date('d/m/Y') }}</td>
                <td>{{ retard.heure | date('h:i')}}</td>
                <td>
                    <a href="{{ path('modifier_retard_universitaire', {'id':retard.id}) }}" class="btn btn-primary">modifier</a>
                    <a href="{{ path('supprimer_retard_universitaire', {'id':retard.id}) }}" class="btn btn-danger" onclick="return confirm('Vous vous supprimer?')">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun absence enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock%}