{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Information detaillées d'un employé</h3>
    <fieldset>
        <legend>Détails</legend>
        <table class="table  table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Total Heure</th>
                <th>Taux (Ar) </th>
                <th>Brute (Ar)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Salaire fixe</td>
                <td></td>
                <td></td>
                <td>{{ salaireFixeBrute }}</td>
            </tr>
                {% for key, value in salaire.detailSalaireHoraire %}
                    <tr>
                        <td></td>
                        <td>{{ value }}</td>
                        <td>{{ key }}</td>
                        <td>{{ salaireHoraireBrutes[key] }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                {% endfor %}
            <tr>
                <td>Retenu CNAPS</td>
                <td></td>
                <td>{{ salaire.employer.tauxCnaps }} %</td>
                <td>{{ cnaps }}</td>
            </tr>
            <tr>
                <td>Avance sur salaire</td>
                <td></td>
                <td></td>
                <td>{{ salaire.totalAvance }}</td>
            </tr>
            <tr>
                <td>Total brute</td>
                <td></td>
                <td></td>
                <td>{{ totalBrute }}</td>
            </tr>
            <tr>
                <td>Net à payer</td>
                <td></td>
                <td></td>
                <td>{{ salaireNet }}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="clearfix"></div>
    <div class="align-center">
        <a href="{{ path('home_salaire', {'id': salaire.employer.id}) }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}" class="custom-margin">
        </a>
        <a href="">
            <img title="Imprimer fiche de paye" src="{{ asset('assets/printer.png') }}" class="custom-margin">
        </a>
    </div>
{% endblock %}