{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Suivi payement de {{ employer.person.nom }} {{ employer.person.prenom }}</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('details', {'id': employer.id}) }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}">
        </a>
        <a href="{{ path('payement_salaire', {'id': employer.id}) }}" class="btn btn-primary">Payer</a>
        <a href="{{ path('add_avance_salaire', {'id': employer.id}) }}" class="btn btn-primary">Retirer avance</a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>Payement</legend>
                <table id="tableshow" class="table table-hover table-bordered table-striped avectri">
                    <thead>
                    <tr>
                        <th data-tri="1" data-type="num">Date</th>
                        <th>Mois</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for salaire in salaires %}
                        <tr>
                            <td>{{ salaire.date | date('d/m/Y') }}</td>
                            <td>{{ salaire.mois }}</td>
                            <td>
                                <div class="align-center">
                                    <a href="{{ path('detail_salaire', {'id': salaire.id}) }}">
                                        <img title="Details" src="{{ asset('assets/details.png') }}">
                                    </a>
                                    <a href=""
                                       onclick="return confirm('Voulez vous supprimer cette information?')">
                                        <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                                    </a>
                                </div>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun avance enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
        <div class="span6">
            <fieldset>
                <legend>Avance sur salaire</legend>

                <table id="tableshow" class="table table-hover table-bordered table-striped avectri">
                    <thead>
                    <tr>
                        <th data-tri="1" data-type="num">Date</th>
                        <th>Mois</th>
                        <th>Montant (Ar)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for avance in avances %}
                        <tr>
                            <td>{{ avance.date | date('d/m/Y') }}</td>
                            <td>{{ avance.mois }}</td>
                            <td>{{ avance.somme}}</td>
                            <td>
                                <div class="align-center">
                                    <a href="{{ path('delete_avance_salaire', {'id': avance.id}) }}"
                                       onclick="return confirm('Voulez vous supprimer cette information?')">
                                        <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                                    </a>
                                </div>

                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun avance enregistré</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
{% endblock %}
