{% extends "MascaPersonnelBundle::layout.html.twig" %}
{% block personnel_body %}
    <h3>Details de paye de {{ salaire.employer.person.nom }} {{ salaire.employer.person.prenom }}</h3>
    <div>
        <p>Payé le {{ salaire.date | date('d/m/Y') }}</p>
        <p> Mois de {{ salaire.mois }}</p>
    </div>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <fieldset>
        <legend>Détails</legend>
        <table class="table  table-hover table-bordered table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Total Heure</th>
                <th>Taux (Ar) </th>
                <th>Brute (Ar)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Salaire fixe</td>
                <td></td>
                <td></td>
                <td>{{ salaireFixeBrute }}</td>
            </tr>
            {% for key, value in salaire.detailSalaireHoraire %}
                <tr>
                    <td></td>
                    <td>{{ value }}</td>
                    <td>{{ key }}</td>
                    <td>{{ salaireHoraireBrutes[key] }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4"></td>
                </tr>
            {% endfor %}
            <tr>
                <td>Retenu CNAPS</td>
                <td></td>
                <td>{{ salaire.employer.tauxCnaps }} %</td>
                <td>{{ cnaps }}</td>
            </tr>
            <tr>
                <td>Avance sur salaire </td>
                <td></td>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td>CU</td>
                            <td>{{ salaire.totalAvanceSalaireU }}</td>
                        </tr>
                        <tr>
                            <td>CL</td>
                            <td>{{ salaire.totalAvanceSalaireL }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Prime</td>
                <td></td>
                <td></td>
                <td>{{ salaire.prime }}</td>
            </tr>
            <tr>
                <td>Total brute salaire poste universitaire</td>
                <td></td>
                <td></td>
                <td>{{ salaire.totalSalaireU }}</td>
            </tr>
            <tr>
                <td>Total brute salaire poste lycée</td>
                <td></td>
                <td></td>
                <td>{{ salaire.totalSalaireL }}</td>
            </tr>
            <tr>
                <td>Total brute</td>
                <td></td>
                <td></td>
                <td>{{ totalBrute }}</td>
            </tr>
            <tr>
                <td>Net à payer</td>
                <td></td>
                <td></td>
                <td>{{ salaireNet }}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="clearfix"></div>
    <div class="row">
        <form method="post">
            <div class="span12">
                {{ form_widget(form) }}
            </div>
            <div class="clearfix"></div>
            <div class="submit-style">
                <div class="floatleft">
                    <a href="{{ path('home_salaire', {'id': salaire.employer.id}) }}">
                        <img title="Retour" src="{{ asset('assets/cancel.png') }}" class="custom-margin">
                    </a>

                </div>
                <div class="floatright">
                    <input type="image" src="{{ asset('assets/save.png') }}" title="Enregistrement">
                </div>
            </div>
        </form>
    </div>
{% endblock %}