{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Liste des absences de {{ lyceen.person.nom }} {{ lyceen.person.prenom }}</h3>
    <div>
        <a href="{{ path('details_lyceen',{'id': lyceen.id}) }}">
            <img title="Retour" src="{{ asset('assets/cancel.png') }}">
        </a>
        <a href="{{ path('absence_enregistrement_lyceen', {'id': lyceen.id}) }}" >
            <img title="Nouvelle enregistrement" src="{{ asset('assets/add.png') }}">
        </a>
    </div>
    <hr/>
    <table id="tableshow" class="table  table-hover table-bordered table-striped avectri">
        <thead>
        <tr>
            <th class="selection" data-tri="1" data-type="num">Classe</th>
            <th>Absent le</th>
            <th>Partie de la journée</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in listAbs %}
            <tr>
                <td>{{ lyceen.sonClasse.intitule }}</td>
                <td>{{ absence.dateAbsent | date('d/m/Y') }}</td>
                <td>{{ absence.partieJournee }}</td>
                <td>
                    <div class="align-center">
                        <a href="{{ path('absence_modifier_lyceen', {'id':absence.id}) }}">
                            <img title="Modifier" src="{{ asset('assets/edit.png') }}">
                        </a>
                        <a href="{{ path('absence_supprimer_lyceen', {'id':absence.id}) }}" onclick="return confirm('Vous vous supprimer?')">
                            <img title="Supprimer" src="{{ asset('assets/delete.png') }}">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun absence enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock%}