{% extends 'MascaEtudiantBundle::layout.html.twig' %}
{% block etudiant_body %}
    <h3>Page d'ajout/modification d'un note</h3>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <p>Etudiant concerné: <b>{{ lyceen.person.prenom }} {{ lyceen.person.nom }}</b></p>
    <div class="row">
        <div class="span12">
            <form method="post">
                {{ form_widget(form) }}
                <div class="submit-style">
                    <div class="floatleft">
                        <a href="{{ path('liste_notes_lyceen',{'lyceen_id':lyceen.id}) }}">
                            <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                        </a>

                    </div>
                    <div class="floatright">
                        <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}