{% extends 'MascaEtudiantBundle::layout.html.twig' %}
{% block title %}Ajouter note{% endblock %}
{% block etudiant_body %}
    <h5>Création/modification note</h5>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <h2>Note de {{ lyceen.person.prenom }} {{ lyceen.person.nom }}</h2>
    <form method="post">
        {{ form_widget(form) }}
        <div class="align-right">
            <input type="submit" value="Ajouter" class="btn">
            <a href="{{ path('liste_notes_lyceen',{'lyceen_id':lyceen.id}) }}" class="btn">Annuler</a>
        </div>
    </form>
{% endblock %}