{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Liste des élèves du Lycée</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('inscription_lycee') }}" id="inscription-lyceen" class="btn btn-info btn-lg">
            Inscription
        </a>
        <a href="{{ path('admin_lycee_classe')}}" class="btn btn-info btn-lg">Administration </a>
        <a href="{{ path('print_list_lyceen', {'page':page}) }}" target="_blank" class="btn btn-danger">Imprimer liste</a>
    </div>
    <div class="row link-text floatright">
        <form method="post">
            <input id="search" placeholder="Entrez un nom ou prénom" name="key_word">
            <input type="submit" value="recherche" class="btn btn-info">
        </form>
    </div>
    <div class="clearfix"></div>
            <table id="tableshow" class="table  table-hover table-bordered table-striped avectri" data-role="table">
                <thead>
                <tr>
                    <th class="selection" data-tri="1" data-type="num">N°</th>
                    <th >Nom</th>
                    <th >Prénom</th>
                    <th >classe</th>
                    <th >Status</th>
                </tr>
                </thead>
                <tbody>
                {% for lyceen in lyceens %}
                    <tr>
                        <td>{{ lyceen.numeros }}</td>
                        <td>{{ lyceen.person.nom }}</td>
                        <td>{{ lyceen.person.prenom }}</td>
                        <td>{{ lyceen.sonClasse.intitule }}</td>
                        <td>
                            <a href="{{ path('details_lyceen',{ 'id': lyceen.id }) }}" class="btn btn-info btn-lg paramLycee">
                                details
                                <!--<img class="thumbs" title="infos" src="{##}{ asset('assets/pers-nonpermanent.png') }}">-->
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun étudiant enregistré</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    {% if lyceens|length > 0 %}
        <div class="pagination align-center">
            <ul>
                {% for p in range(1, nbPage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('accueil_lycee', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
