{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Liste des élèves du Lycée</h3>
    <div class="row link-text  floatleft">
        <a href="{{ path('inscription_lycee') }}" id="inscription-lyceen" class="btn btn-info btn-lg">
            Inscription
        </a>
        <a href="{{ path('admin_lycee_classe')}}" class="btn btn-info btn-lg">Administration </a>
        <a href="{{ path('export_lyceen') }}" target="_blank">
            <img title="Imprimer" src="{{ absolute_url(asset('assets/printer.png')) }}">
        </a>
    </div>
    <div class="row link-text floatright">
        <input id="search_lyc" placeholder="Nom/Prénom/Matricule" onkeyup="find()">
    </div>
    <div class="clearfix"></div>
    <div id="lyceen-contenaire">
        {{ render(controller('MascaEtudiantBundle:Lycee/Lycee:listLyceen', {'page': page, 'keyword': ''})) }}
    </div>
    <script>
        function find() {
            keyword = document.getElementById("search_lyc").value;
            url = "{{ path('list_lyc') }}" + "/"+{{ page }};

            if(keyword != "")
                url = url + "/" + keyword;
            $("#lyceen-contenaire").load(url, function () {});

        }
    </script>
{% endblock %}
