{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Page d'enregistrement d'ecolage</h3>
    <h5>Année scolaire {{ lyceen.anneeScolaire }} </h5>
    <p>Etudiant concerné: <b>{{ lyceen.person.nom }} {{ lyceen.person.prenom }}</b> </p>
    <p>Le montant d'un mois est <b>{{ montant }} Ar</b></p>
    <p>Réduction <b>{{ reduction }} Ar</b></p>
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row">
        <div class="span12 text-center">
            <form method="post" class="text-left" style="width:270px; margin:0 auto !important;" id="formpaiement">
                {{ form_widget(ecolageForm) }}
                <div class="submit-style">
                    <div class="floatleft">
                        <a href="{{ path('ecolage_lyceen', {'id':lyceen.id}) }}">
                            <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                        </a>

                    </div>
                    <div class="floatright">
                        <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}