{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block title %}Regularisation ecolage{% endblock %}
{% block etudiant_body %}
    {% if error_message is defined %}
        <p style="color: red "> {{ error_message }}</p>
    {% endif %}
    <div class="row bordered">
        <div class="span12 text-center">
            <h5>Année scolaire {{ lyceen.anneeScolaire }} </h5>
            <p>Régularisation d'écolage de {{ lyceen.person.nom }} {{ lyceen.person.prenom }}</p>
            <p>Le montant d'un mois est {{ montant }} Ar</p>
            <p>Reduction {{ reduction }} Ar</p>
        </div>
    </div>
    <div class="row">
        <div class="span12 text-center">
            <form method="post" class="text-left" style="width:270px; margin:0 auto !important;" id="formpaiement">
                {{ form_widget(ecolageForm) }}
                <div class="align-center">
                    <input type="submit" value="Enregistrer" class="btn btn-primary">
                    <a href="{{ path('ecolage_lyceen', {'id':lyceen.id}) }}" class="btn btn-primary">Annuler</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}