{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Page de régularisation d'ecolage</h3>
    <h5>Année scolaire {{ renseignement.lyceen.anneeScolaire  }} </h5>
    <p>Etudiant concerné: <b>{{ renseignement.lyceen.person.nom }} {{ renseignement.lyceen.person.prenom }}</b> </p>
    <p>Reste à payer <b>{{ reste }} Ar</b></p>

    <div class="row">
        <div class="span10">
            <form method="post">
                {{ form_widget(form) }}
                <div class="align-right">
                    <input type="submit" value="Enregistrer" class="btn btn-primary">
                    <a href="{{ path('ecolage_lyceen', {'id':renseignement.lyceen.id}) }}" class="btn btn-primary">Annuler</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}