{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block title %}Regularisation ecolage{% endblock %}
{% block etudiant_body %}
    <div class="row">
        <div class="span10">
            <h5>Année scolaire {{ renseignement.lyceen.anneeScolaire }} </h5>
            <p>Régularisation d'écolage de {{ renseignement.lyceen.person.nom }} {{ renseignement.lyceen.person.prenom }}</p>
            <p>Reste à payer {{ reste }} Ar</p>
        </div>
    </div>
    <div class="row">
        <div class="span10">
            <form method="post">
                {{ form_widget(form) }}
                <div class="align-right">
                    <input type="submit" value="Enregistrer" class="btn btn-primary">
                    <a href="{{ path('ecolage_lyceen', {'id':renseignement.lyceen.id}) }}" class="btn btn-primary">Annuler</a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}