{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block etudiant_body %}
    <h3>Page de réinscrition</h3>
<div class="row">
    <div class="span6">
        <fieldset>
            <legend>Informations concernant l'étudiant</legend>
            <table>
                <tr>
                    <td><b>N° matricule:</b></td>
                    <td>{{ lyceen.person.numMatricule }}</td>
                </tr>
                <tr>
                    <td><b>Nom:</b></td>
                    <td>{{ lyceen.person.nom }}</td>
                </tr>
                <tr>
                    <td><b>Prénom:</b></td>
                    <td>{{ lyceen.person.prenom }}</td>
                </tr>
                <tr>
                    <td><b>Date de naissance:</b></td>
                    <td>{{ lyceen.person.dateNaissance |date('d M Y') }}</td>
                </tr>
                <tr>
                    <td><b>Lieu de naissance:</b></td>
                    <td>{{ lyceen.person.lieuNaissance }}</td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div class="span6">
        <fieldset>
            <legend>Étude</legend>
            <form method="post">
                {{ form_widget(lyceenForm) }}
                <div class="submit-style">
                    <div class="floatleft">
                        <a href="{{ path('details_lyceen', {'id':lyceen.id}) }}">
                            <img title="Annuler" src="{{ asset('assets/cancel.png') }}">
                        </a>

                    </div>
                    <div class="floatright">
                        <input type="image" src="{{ asset('assets/save.png') }}" title="Enregitrer">
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock %}