{% extends "MascaEtudiantBundle::layout.html.twig" %}
{% block stylesheet %}
    <style>
        .container {
            width: 95%;
        }
        .zone-bordered {
            border: none;
        }
    </style>
{% endblock %}
{% block etudiant_body %}
    <h3>Statut global ecolage</h3>
    <form method="post" id="form-data-year">
        <table>
            <tr>
                <td>Début année scolaire</td>
                <td>{{ form_widget(form.startYear) }}</td>
                <td class="school-year hide">
                    année scolaire: <span></span>
                     classe de: {{ form_widget(form.classe) }}
                </td>
            </tr>
            <tr class="details-school-year hide">
                <td>Détails année scolaire</td>
                <td>{{ form_widget(form.startMonth) }} <span id="start-year"></span></td>
                <td> - {{ form_widget(form.endMonth)}} <span id="end-year"></span></td>
                <td><input type="submit" value="valider" id="submit-data-year" class="btn-lg btn-primary"></td>
            </tr>
        </table>
    </form>

    {% if haveData %}
        <table class="table  table-hover table-bordered table-striped avectri">
            <thead>
                <th style="width: 1em">N°</th>
                <th style="width: 15em">Nom</th>
                {% for m in months %}
                    <th>{{ m }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for l in lyceens %}
                <tr>
                    <td>{{ l.numeros }}</td>
                    <td><a href="{{ path('ecolage_lyceen', {'id':l.id}) }}" title="Détails ecolage" target="_blank">{{ l.person.fullName }}</a></td>
                    {% for m in months %}
                        <td style="text-align: center">{% if status[l.id][loop.index - 1] %}
                                <i class="fa fa-check" style="color:green"></i>
                            {% else %}
                                <i class="fa fa-times" style="color:red"></i>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script>
        var schoolYearElement = $(".school-year");

        var startYearElement = $("#details_school_year_startYear");
        var firstMonthSelect = $("#details_school_year_startMonth");
        var lastMonthSelect = $("#details_school_year_endMonth");
        var classeSelect = $("#details_school_year_classe");

        var submitButton = $("#submit-data-year");
        submitButton.hide();

        toggleData();
        validateForm();

        startYearElement.change(function () {
            toggleData();
        });

        $("select").change(function () {
            validateForm();
        });

        function validateForm() {
            if(startYearElement.find("option:selected").val() && firstMonthSelect.val() && lastMonthSelect.val() && classeSelect.find("option:selected").val()) {
                submitButton.show();
            } else {
                submitButton.hide();
            }
        }

        function toggleData() {
            var detailsSchoolYear = $(".details-school-year");
            var startYear = startYearElement.find("option:selected").val();

            if(!startYear) {
                schoolYearElement.hide();
                detailsSchoolYear.hide();
                return;
            }
            var endYear = parseInt(startYear) + 1;
            $(".school-year span").text(startYear + " - " + endYear);
            schoolYearElement.show();

            $("#start-year").text(startYear);
            $("#end-year").text(endYear);
            detailsSchoolYear.show();
        }
    </script>
{% endblock %}